---
 - name: Install ZDP Kibana RPM Package
   include_role:
     name: common
     tasks_from: install
   vars:
    zdp_service_name: 'zdp-kibana'
    zdp_rpm_package_name: 'zdp-kibana'
    zdp_rpm_package_file_name: 'zdp-kibana-4.5.4.0-1.noarch.rpm'

 - name: Configure with Registry
   become: True
   yedit:
    src: /etc/zdp-kibana/zdp-kibana.yml
    key: eureka.client.service.url.defaultZone
    value: "http://admin:{{registry_admin_password}}@{{ groups['registry']|join(',') }}:8761/eureka/""

# Start the services
 - name: Start the Service
   include_role:
     name: common
     tasks_from: service
   vars:
     zdp_service_name: 'zdp-kibana'
